
#navigationBar {
  background-color: #3A3232;
}
#header {
  text-align: center;
  font-family: Impact;
  font-size: 40px;
  text-decoration: underline;
  color: #D83018;
}
hr {
  border-color: #3A3232;

}
footer {
  text-align: center;
  font-family: Impact;
  font-size: 14px;
  color: #D83018;

/*formating the pseudo-class navigation links */
}
a:link {
  font-size: 16px;
  color: #D83018;
  font-family: verdana;
  text-decoration: none;
}
a:visited {
  color: #F07848;
  font-family: verdana;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
a {
  padding: 5px 20px 5px 20px
}
