
#bodyContent {
  padding: 20px;
  background-color: #C0D8D8;
}
label {
  color: #3A3232;
}
#head, #footer {
  background-color: #3A3232;
  color: #D83018;
  text-align: center;
}
#footer {
  font-size: 15px;
  font-family: sans-serif;
}
td {
  border-bottom: 1px solid black;
}
#tableHeader {
  border-bottom: 2px solid black;
  /*border-top: 2px solid black;*/
}
h2, h1 {
  color: #D83018;
}
label {
  font-size: 20px;
}
a {
  font-weight: bold;
  color: white;
}
.nav {
  background-color: #3A3232;
  }
select, textarea  {
  width: 200px;

}
textarea {
  height: 100px;
}
